#clock{
    /* margin:100px auto; */
    /* border: 5px double green; */
    /* width: 400px; */
    /* height: 100px; */
    /* line-height: 100px; */
    text-align: center;
    font-family: Meigui;
    color: red;
}
